@import url("https://fonts.googleapis.com/css2?family=BIZ+UDGothic&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');

body {
  margin: 0px;
  font-family: "BIZ UDGothic";
}
*::-webkit-scrollbar {
  display: none;
}
